---
layout: default
---

<div id="index-banner">
  <div class="row">
      <div class="col l4 offset-l4 s8 offset-s2">
	<h1>
	  <img id="index-top-logo" src="/img/IAPS.png" alt="Logo dell'IAPS">
	</h1>
      </div>
  </div>
</div>

<div class="no-pad-top" id="index-page">
  <div class="container">
    <div class="section">

    <div class="section"> <!-- eventi -->
      <h3>Gli eventi</h3>
      <p>L'AISF organizza attività sia per studenti italiani che per quelli della più larga comunità di IAPS. Oltre ai grandi eventi nazionali e internazionali, i comitati locali organizzano frequentemente altre attività nelle università di affiliazione.</p>
      
      <div class="row">
        <div class="col s12 m7">
            <ul class="slider" id="foto-eventi">
                <ul class="slides">
                    {% assign loopindex = 0 %}
                    {% assign array = site.events | reverse %}
                    {% for event in array %}
                        {% if event.categories contains "eventonazionale" %}
                            <li>
                                <a href="{{ event.site }}">
                                <img src="{{ event.cover }}" alt="{{ event.title }}"> </a>                               
                    		    <div class="caption left-align">
                    		        <h4>
                                        {{ event.title }}
                                    </h4>
                    		        <p class="light grey-text text-lighten-3">
                                        {{ event.place }},
                                        <br>
                                        {{ event.startingdate | date: '%b %Y' }}  
                                    </p>
                    		    </div>
                            </li>
                            {% assign loopindex = loopindex | plus: 1%}
                        {% endif %}
                        {% if loopindex == 4 %}
                            {% break %}
                        {% endif %}
                    {% endfor %}                  
                </ul>
            </ul>
        </div>
        <div class="col s12 m5">
		{% include eventi_homepage.html %}
        </div>
      </div>
    </div>

    <div class="section"> <!-- blog -->
      <div class="row">
        <div class="col s12 m12">
          <h3>Le ultime dal Blog</h3>
          <div class="blog-index">
            {% for post in site.categories['blog'] limit:3 %}	  
                {% assign post = site.posts.first %}
                {% assign content = post.excerpt %}
                {% include post_detail.html %}
            {% endfor %}
            <!-- <div class="divider"></div> -->
          </div>
        </div>
        <div class="col s12 m12">
          <h3>Le ultime dai Comitati Locali</h3>
          <div class="blog-index">
            {% for post in site.categories['sistemidiriferimento'] limit:3 %}	  
                {% assign post = site.posts.first %}
                {% assign content = post.excerpt %}
                {% include post_detail.html %}
            {% endfor %}
            <!-- <div class="divider"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Structure -->
<!-- <div id="modal1" class="modal"> -->
<!--   <div class="modal-content"> -->
<!--     <h4>PLANCKS 2016</h4> -->
<!--     <div class="chip">Bucharest, Romania</div><div class="chip">20-23 Maggio 2016</div> -->
<!--     <p>PLANCKS è una competizione di fisica teorica organizzata da IAPS, che bla bla bla</p> -->
<!--   </div> -->

<!--   <div class="modal-footer"> -->
<!--     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a> -->
<!--     <a href="http://2016.plancks.org" class=" modal-action modal-close waves-effect waves-green btn-flat">Sito ufficiale</a> -->
<!--   </div> -->
<!-- </div> -->

{% include eventi_homepage_modal.html %}
{% include schema.html %}
