---
layout: default
---
{% include banner.html %}

<div class="no-pad-top">
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m6">
            <div class="icon-block">
              <h5 class="center">AISF</h5>

              <p class="light">L'Associazione Italiana Studenti di Fisica lavora per promuovere la collaborazione tra studenti di fisica italiani in un contesto internazionale e globale. I suoi membri sono comitati locali e membri individuali, che si incontrano regolarmente in conferenze e iniziative di carattere locale, nazionale e internazionale.</p>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="icon-block">
              <h5 class="center">IAPS</h5>
              <p class="light">L'International Association of Physics Students è una <i>umbrella organization</i> che dal 1987 promuove la collaborazione tra studenti e associazioni di fisica in tutto il mondo. I suoi membri sono rappresentati da comitati nazionali e locali. IAPS rappresenta circa 50000 studenti, e l'AISF è il comitato nazionale per l'Italia.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <div class="row center">
              <a href="{{ site.url }}/about/" id="download-button" class="btn-large waves-effect waves-light">Chi siamo</a>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="row center">
              <a href="http://www.iaps.info" id="download-button" class="btn-large waves-effect waves-light">Sito IAPS</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section"> <!-- eventi -->
        <h4>Gli eventi</h4>
        <p>L'AISF organizza attività sia per studenti italiani che per quelli della più larga comunità di IAPS. Oltre ai grandi eventi nazionali e internazionali, i comitati locali organizzano frequentemente altre attività nelle università di affiliazione.</p>
        <div class="row">
          <div class="col s12 m8">
            <!-- <img class="materialboxed" width="650" src="{{ site.url }}/img/photos/cisf2015/group02.jpg"> -->

      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ site.url }}/img/photos/2016-CISF/group01.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3>CISF 2016</h3>
              <h5 class="light grey-text text-lighten-3">Torino, aprile 2016</h5>
            </div>
          </li>
          <li>
            <img src="{{ site.url }}/img/photos/2015-LoT/group01.jpg"> <!-- random image -->
            <div class="caption right-align">
              <h3>Lights of Tuscany</h3>
              <h5 class="light grey-text text-lighten-3">Pisa, dicembre 2015</h5>
            </div>
          </li>
          <li>
            <img src="{{ site.url }}/img/photos/2015-iaps4fusion/group02.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3>iaps4fusion</h3>
              <h5 class="light grey-text text-lighten-3">Londra, settembre 2015</h5>
            </div>
          </li>
          <li>
            <img src="{{ site.url }}/img/photos/2015-ICPS/group01.jpg"> <!-- random image -->
            <div class="caption right-align">
              <h3>ICPS2015</h3>
              <h5 class="light grey-text text-lighten-3">Zagabria, agosto 2015</h5>
            </div>
          </li>
        </ul>
      </div>	    
          </div>
          <div class="col s12 m4">
	   {% include eventi_homepage.html %}
        <!-- <h5>Prossimi eventi</h5> -->
        <!-- <ul class="collapsible" data-collapsible="accordion"> -->
        <!--   <li> -->
        <!--     <div class="collapsible-header">PLANCKS2016<div class="secondary-content">20-23 Mag</div></div> -->
        <!--     <div class="collapsible-body"><p>PLANCKS è una competizione di fisica teorica organizzata da IAPS.</p> -->
	<!--      <a class="waves-effect waves-teal btn-flat" href="http://2016.plancks.org/">Sito ufficiale</a> -->
	<!--     </div> -->
        <!--   </li> -->
        <!--   <li> -->
        <!--     <div class="collapsible-header"><i class="material-icons">place</i>ICPS2017</div> -->
        <!--     <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div> -->
        <!--   </li> -->
        <!--   <li> -->
        <!--     <div class="collapsible-header"><i class="material-icons">whatshot</i>iaps@GranSasso</div> -->
        <!--     <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div> -->
        <!--   <li> -->
        <!--     <div class="collapsible-header"><i class="material-icons">whatshot</i>iaps4fusion</div> -->
        <!--     <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div> -->
        <!--   </li> -->
        <!--   <li> -->
        <!--     <div class="collapsible-header"><i class="material-icons">whatshot</i>Lights of Tuscany</div> -->
        <!--     <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div> -->
        <!--   </li> -->
        <!--   </li> -->
        <!-- </ul> -->
          </div>
        </div>
      </div>

      <div class="section"> <!-- blog -->
        <div class="row">
          <div class="col s12 m12">
        <h4>Le ultime dal Blog</h4>
        <!-- <div class="blog-index">   -->
        <!--   {% assign post = site.posts.first %} -->
        <!--   {% assign content = post.excerpt %} -->
        <!--   {% include post_detail.html %} -->
        <!-- </div> -->
        <div class="blog-index">
          {% for post in site.posts limit:2 %}
          {% assign post = site.posts.first %}
          {% assign content = post.excerpt %}
          {% include post_detail.html %}
          {% endfor %}
          <div class="divider"></div>
        </div>
          </div>
        </div>
      </div>

      <div class="section"> <!-- social -->
        <div class="row">
          <div class="col s12 m6">
	    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fass.it.stud.fis%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
          <div class="col s12 m6">Qui a sinistra ci mettiamo Facebook e a destra Twitter</div>
        </div>
      </div>

    </div>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>PLANCKS 2016</h4>
      <div class="chip">Bucharest, Romania</div><div class="chip">20-23 Maggio 2016</div>
      <p>PLANCKS è una competizione di fisica teorica organizzata da IAPS, che bla bla bla</p>
    </div>
    
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a>
      <a href="http://2016.plancks.org" class=" modal-action modal-close waves-effect waves-green btn-flat">Sito ufficiale</a>
    </div>
  </div>

{% include modalieventi.html %}
