<div id="index-banner" style="background-image: url('img/banner.png');background-size: cover;background-position: center;position: relative;min-height: 450px;" class="no-pad-bot">
    <br><br>
<div class="container no-pad-bot">
    <div class="card z-depth-1" style="background-color: rgba(255, 255,255, 0.90);">
      <h1 class="header center aisf-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light aisf-text text-accent-2">{{ site.description }}</h5>
      </div>
    </div>
</div>
</div>
