{% assign loopindex = 0 %}
{% for event in site.events reversed limit:npassati%}
{% if event.categories contains "eventonazionale" %}
{% assign rowfinder = loopindex | modulo:2 %}
{% if rowfinder == 0 %} <div class="row"> {% endif %}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
	<img src="{{ event.cover }}">
      </div>
      <div class="card-content">
	<span class="card-title activator grey-text text-darken-4">{{ event.title }}</span>
	<p><small><b>{{ event.place }}</b> {{ event.startingdate | date: '%d %b %Y' }} - {{ event.endingdate | date: '%d %b %Y' }}</small></p>
      </div>
	<div class="card-action">
	  <a href="{{ event.site }}">Sito</a>
	  <a href="{{ event.url }}">Report & Gallery</a>
	</div>
    </div>
  </div>
  {% if rowfinder == 1 %} </div> {% endif %}
{% assign loopindex = loopindex | plus: 1 %}
{% endif %}
{% endfor %}
