
<ul class="collection">
  {% for event in site.events_local reversed %}
  <a class="collection-item modal-trigger aisf-text text-darken-2" href="#{{ event.id | remove: "/" }}-modal">
    <div class="row" style="margin:0">
      <div class="col s12 m8">{{ event.title }}</div>
      <div class="col s12 m4">	  <div class="right grey-text darken-3">{{ event.CL }}, {{ event.date | date: '%d %b %Y' }}</div></div>
    </div>
  </a>
  {% endfor %}
</ul>

<!-- Modal Structure -->
{% for event in site.events_local %}
<div id="{{ event.id | remove: "/" }}-modal" class="modal">
  <div class="modal-content">
    <h4>{{ event.title }}</h4>
    <div class="row">{% if event.CL %}<div class="chip">{{ event.CL }}</div>{% endif %}{% if event.date %}<div class="chip">{{ event.date | date: '%d %b %Y' }}</div>{% endif %}
      <div class="right">
      {% if event.facebook %}<a href="{{ event.facebook }}"><i class="fa fa-lg fa-facebook-square" aria-hidden="true"></i></a>{% endif %}
      {% if event.locandina %}<a href="{{ event.locandina }}"><i class="fa fa-lg fa-picture-o"></i></a>{% endif %}
      {% if event.link %}<a href="{{ event.link }}"><i class="fa fa-lg fa-link"></i></a>{% endif %}
      {% if event.report %}<a href="{{ event.report}}"><i class="fa fa-lg fa-file-text"></i></a>{% endif %}
    </div></div>
    {% if event.articolo %}{% for post in site.posts %}{% if post.url contains event.articolo %}{{ post.excerpt }}{% endif %}{% endfor %}
    {% else %}{{ event.content }}{% endif %}
  </div>
  
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect btn-flat">Chiudi</a>
    {% if event.articolo %}{% for post in site.posts %}{% if post.url contains event.articolo %}<a href="{{ post.url }}" class="waves-effect btn-flat">Vai all'articolo</a>{% endif %}{% endfor %}{% endif %}
  </div>
</div>
{% endfor %}
