<!-- Modal Structure -->
{% for item in site.events %}
{% if item.date > site.time %}
<div id="{{ item.title }}-modal" class="modal">
  <div class="modal-content">
    <h4>{{ item.title }}</h4>
    {% if item.place %}<div class="chip">{{ item.place }}</div>{% endif %}{% if item.date %}<div class="chip">{{ item.date | date: '%d %b %Y' }}</div>{% endif %}
    <p>{{ item.excerpt }}</p>
  </div>
  
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a>
    {% if item.url %}<a href="{{ item.url }}" class=" modal-action modal-close waves-effect waves-green btn-flat">Sito ufficiale</a>{% endif %}
  </div>
</div>
{% endif %}
{% endfor %}
