{% assign neventi = 0 %}
<ul class="collection with-header" id="index-collection-eventi">
    <li class="collection-header"><span>Prossimi eventi</span></li>
    {% for event in site.events %}
        {% if neventi < 6 %}
            {% if event.date >= site.time %}
                <a class="collection-item modal-trigger aisf-text text-darken-2" href="#{{ event.id | remove: "/"}}-modal">
                    <div>
                        {{ event.title }}
                        <div class="secondary-content">
                           {{ event.date | date: '%d %b' }}
                        </div> 
                    </div>
                </a>
                {% assign neventi = neventi | plus: 1 %}
            {% endif %}
        {% endif %}
   {% endfor %}
 </ul>
