<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> 
    <title>{{ site.title }}</title>
    
<!-- Standard html meta tags -->
    <meta name="description"               content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.content | strip_html | strip_newlines | truncate:160 }}{% endif %}" />
    <meta name="keywords"                  content="aisf associazione italiana studenti di fisica iaps {% if page.tags %}{{ page.tags }}{% endif %}" />

<!-- og -->
    {% include opengraph.html %}
    
<!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen"/>
</head>
