<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> 
    <title>{{ site.title }}</title>
    
<!-- Standard html meta tags -->
    <meta http-equiv="content-type"        content="text/html; charset=utf-8" />
    <meta name="description"               content="ICPS2017 - International Conference of Physics Students 2017" />
    <meta name="keywords"                  content="international association physics students associazione italiana studenti fisica iaps aisf {% if page.tags %}{{ page.tags }}{% endif %}" />

    
<!-- og -->
    {% include opengraph.html %}
    
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
  <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
