<script type="application/ld+json">
    {
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "Associazione Italiana Studenti di Fisica",
	"alternateName": "AISF",
	"url": "http://ai-sf.it",
	"address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Torino",
	    "addressCountry": "IT",
	    "streetAddress": "via P. Giuria 1",
	    "postalCode": "10125"
	},
	"email": "esecutivo&#64;&#97;&#105;&#45;&#115;&#102;&#46;&#105;&#116;",
	"foundingDate": "2014-08-15",
	"foundingLocation": {
	    "@type": "Place",
	    "address": {
		"@type": "PostalAddress",
		"addressLocality": "Heidelberg",
		"addressCountry": "DE"
	    }
	},
	"logo": "http://ai-sf.it/img/logo.png",
	"description": "L'Associazione Italiana Studenti di Fisica (AISF) è un'organizzazione con finalità educative e senza fine di lucro che ambisce a riunire tutti gli studenti di fisica d'Italia."
    }
</script>
