img .fullwidth { /* non funziona, perché? */
    width: 100%;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
}


span {
    text-align: justify;
}

//sets color for font-awesome icons
.fa {
    color: $secondary-color
}

.carousel {
    height: 500px;
    .carousel-item {
	width: 500px;
	img {
	    width:100%;
	}
    }
}

@import "custom_c/events";
@import "custom_c/article";