img .fullwidth { /* non funziona, perché? */
    width: 100%;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
}

.eventshome {
  margin: 23px 0;
  border-left: 5px solid $primary-color;
    font-size: 11px;
}

.eventstitle {
    margin: 0;
    color: $primary-color;
    font-size: 1.64rem;
}

.eventsitem {
    margin: 5px 0 0 0;
    color: black;
    font-weight: 500;
}

span {
    text-align: justify;
}

//sets color for font-awesome icons
.fa {
<<<<<<< HEAD
    color: $primary-color;
=======
    color: $secondary-color
}

.carousel {
    height: 500px;
    .carousel-item {
	width: 500px;
	img {
	    width:100%;
	}
    }
>>>>>>> 0fd3eaec02150b2f75e37f79335d72d3252d48c4
}